@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
  height: 100vh;
}

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-sans bg-n-8 text-n-1 text-base;
  }
}

.rotate-45 {
  @apply rotate-[45deg];
}

.rotate-90 {
  @apply rotate-[90deg];
}

.rotate-135 {
  @apply rotate-[135deg];
}

.rotate-180 {
  @apply rotate-[180deg];
}

.rotate-225 {
  @apply rotate-[225deg];
}

.rotate-270 {
  @apply rotate-[270deg];
}

.rotate-315 {
  @apply rotate-[315deg];
}

.rotate-360 {
  @apply rotate-[360deg];
}

.-rotate-45 {
  @apply rotate-[-45deg];
}

.-rotate-90 {
  @apply rotate-[-90deg];
}

.-rotate-135 {
  @apply rotate-[-135deg];
}

.-rotate-180 {
  @apply rotate-[-180deg];
}

.-rotate-225 {
  @apply rotate-[-225deg];
}

.-rotate-270 {
  @apply rotate-[-270deg];
}

.-rotate-315 {
  @apply rotate-[-315deg];
}

.-rotate-360 {
  @apply rotate-[-360deg];
}
body{
  height: 100vh;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.title-nav {

  border: 1px solid #ffffff6e;
  display: flex;
  background-color: rgba(107, 103, 161, 0.438);
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

}

.title-nav:hover {
  background-color: #ffffffa4;
}

.list-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-right: 1rem;
}

.episode {

  gap: 1rem;
  

}

.middleflex {}

.text-info-middle {}

.image-info {
  background-image: url("./assets/images/image1.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}

.blob{
  width: 500px;
  height: 500px;
  position: absolute;
  top: 60px;
  left: 100px;
  filter: blur(300px); /* Adds a blur effect */
  z-index: -1;
  
}